.idea/
.pytest_cache/
__pycache__/
*.py[cod]

build/
dist/

CANFD/log/
CANFD/__pycache__/
CANFD/.pytest_cache/
CANFD/build/
CANFD/dist/
~$*.xlsx

docx_extract_canfd/

dist.zip
distV2.zip
distV3.zip
cxcanfd_x64_guide.zip
